.titlecolor{
  color: red !important;
}

.btncolor{
  background-color: white;
  border-color: red !important;
}
.btncolor:hover{
  background-color: red;
  color: white !important;
}
.nav-link:hover{
  font-size: 20px;
}

.btncolor:focus,
.btncolor:active,
.btn-primary.active {
    background-color: red;
    color: white !important;
   
}



.underline{
  width: 100px;
  height: 4px;
  border-bottom: 6px solid red;
}
